body{
    background-color: #d5d5d5;
    background-image: url(../img/Bg\ 3.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.mobile-only{
    display: none;
}

.hero{
    height: 100vh;
}

.hero_left{
    float: left;
    width: 20%;
    height: 100%;
    text-align: right;
    padding-right: 5px;
    box-sizing: border-box;
}

.hero_center{
    float: left;
    width: 30%;
    height: 100%;
    background-color: black;
    color: white;
    position: relative;
    padding-left: 5px;
    box-sizing: border-box;
}

.hero_right{
    float: left;
    width: 50%;
    height: 100%;
    background-color: black;
    color: white;
}

.textBottom{
    position: absolute;
    bottom: 50px;
    text-align: left;
    margin: 10px;       

}

.textBottom p{
    font-size: 20px;
}


.hero .text1, .hero .text2{
    font-size: 100px;
}

.section_title{
    background-color: black;
    color: #E51A24;
    font-size: 100px;
    padding: 211px 50px;
    margin: 36px 0;
}

.project{
    background-color: black;
    color: white;
    height: 100vh;
    padding: 36px 0;
    box-sizing: border-box;
    margin: 0px 0;
}

.project .project_left{
    float: left;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.project.flip .project_left{
    text-align: right;
}

.project.flip .project_left{
    float: right;
}

.project .project_right{
    float: left;
    width: 70%;
    height: 100%;
}

.project.flip .project_right{
    float: right;
}

.project .project_meta{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 43px;
}

.project .project_title{
    font-size: 50px;
}

.project .project_description{
    font-size: 24px;
}


.profileImage {
    opacity: 75%;
    margin-top: 32px;    
    height: 90%   
    
}

.shumProject{
    width: 100%;
    margin-top: 100px;
}

.supTitle {
    font-size: medium;
}

.tradersAlloy {
    width:100%;
}

a  
{
      text-decoration: underline;
    color: #676767

}

a:hover {
        color: rgb(255, 255, 255);
    }

#socialMediaLinkedin { 
    text-decoration: none;
    
}


.more_Projects{
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: none;
    
    
}

#moreProjectsLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    
}

#moreProjectsLink:hover{
    color: yellow;
}

.horizonWeatherApp {
    width: 75%;
    margin-left: 36px;
    margin-bottom: 30px;
    
}

.socialMedia .project_meta{
    background-color: blanchedalmond;
}

.socialMediaIcons{
    height: 26px;
    margin-right: 15px;
    filter: grayscale(100%)
    opacity(50%)
}

.socialMediaIcons:hover{
    filter: grayscale(0%) 

}

.openPlayer {
  
    color: rgb(196, 196, 196);
    background-color: rgb(0, 0, 0);
    border: 0;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: 0px 5px 9px rgba(37, 37, 37, 0.932);
    text-decoration: none;
    margin-top: 150px;
    display: inline-block;
}

.openPlayer:hover{
        color: black;       
        background-color: darkgoldenrod  
         
}

.footer{
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 30px;

}


.footer{
    background-color: black;
    color: #E51A24;
    font-size: 20px;
    padding: 211px 150px;
    margin: 36px 0;
    text-align: center;
}

.footerText{
    color: white;
    padding-top: 40px;
    font-size: 18px;
    font-variant: small-caps;
    opacity: 60%;
}

@media screen and (max-width: 1000px) {

    .mobile-only{
        display: block;
    }

    .desktop-only{
        display: none;
    }

    .hero .text1, .hero .text2{
        font-size: 50px;
    }

    .hero_left{
        width: 20%;
    }

    .hero_center{
        width:80%;
    }
 
    .hero{
        height: initial;
    }

    .project{
        height: initial;
    }

    

    .project .project_meta{
        position: initial;
        transform: none;
    }

    .section_title{
        font-size: 80px;
        padding: 30px;
        margin: none;
        
    }

    .profileImage {
        opacity: 100%;           
        background-color: black;
        padding: 30px;
        box-sizing: border-box;
        width: 100%;

        
    }

    .textUnderLogo p {
        background-color: black;
        color: white;
        padding: 30px;
        align-items: center;
        text-align: center;
    }

    .footerText{
        padding: 30px;
    }


    
    
}