body{
    background-color: #000000;
        background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.mobile-only{
    display: none;
}

.desktop-only{
    display: block;
}

.hero{
    height: 100vh;
}

.hero_left{
    float: left;
    width: 15%;
    height: 100%;
    text-align: right;   
    box-sizing: border-box;
    color:#FFC700;

}

.hero_center{
    float: left;
    width: 30%;
    height: 100%;
    background-color:#1C1C1C;
    color: white;
    position: relative;
    
    box-sizing: border-box;
    
}

.hero_right{
    float: left;
    width: 55%;
    height: 100%;
    background-color:#1C1C1C;
    color: white;
}

.textBottom{
    position: absolute;
    bottom: 50px;
    text-align: left;
    margin: 10px;       

}

.hero .text1, .hero .text2, .hero .text3{
    font-size: 50px;
}

.splitText{
    margin-top: 120px;
}

#brainsterCo {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#brainsterCo:hover{
    color:#FFC700 ;
}

.shumLogo {
   margin-top: 50px;
}

.task{
    margin-top: 30px;   
    background-color:#1C1C1C;
    color: white;
    font-size: 70px;
    height: 50vh;
    padding: 100px;   
  
}
.taskLeft{
    float: left;
    width: 50%;
    height: 100%;
    font-size: 15px;
    text-align:justify;
           
   
}

.taskRight{
    float: left;
    width: 40%;
    padding-left: 50px;
    font-size: 40px;

}

.section{
  
    background-color:#1C1C1C;
    color: white;
    font-size: 70px;
    height: 50vh;
    padding: 100px; 
}

.section1{
  
    background-color:#1C1C1C;
    color: white;
    font-size: 70px;
    height: 80vh;
    padding: 100px;
}

.circles{
    padding: 20px;
}

.circleOne{
    float: left;
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
}

.circleTwo{
    float: left;
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
}

.circleThree{
    float: left;
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
}

.circleFour{
    float: left;
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
}

.circleFive{
    float: left;
    width: 20%;
    padding: 30px;
    box-sizing: border-box;
}

.research{

    background-color:#1C1C1C;
    color: white;
    font-size: 70px;
    height: 50vh;
    padding: 100px;
      
}

.researchParagraph{
    font-size: 15px;
    padding-top: 70px;
}

.teamMembers{
    font-size: smaller;
    color: rgb(211, 211, 211);
}

.highlight{
    color: #FFC700;
}

.playerSymbols{
    text-align: center;
    padding-top: 40px;

}

.name{
    color: #FFC700;
    font-weight: bold;
}

.user{
    
    width: 100%;    
    padding-bottom: 150px;
    box-sizing: border-box;
}



#myDIV {
    border: 1px solid black;
    width: 300px;
    color: rgb(247, 247, 247);
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {color: #FFC700;}
  }

.paragraph{
    font-size: initial;
}

@media screen and (max-width: 1000px) {

    .mobile-only{
        display: block;
    }

    .desktop-only{
        display: none;
    }
  
}