body{
    background-color: #121212;
        background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.mobile-only{
    display: none;
}

.desktop-only{
    display: block;
}

.hero{
    height: 100vh;
}

.hero_left{
    float: left;
    width: 15%;
    height: 100%;
    text-align: right;   
    box-sizing: border-box;
    color:#05D5A3;

}

.hero_center{
    float: left;
    width: 30%;
    height: 100%;
    background-color:#262626;
    color: white;
    position: relative;
    
    box-sizing: border-box;
    
}

.hero_right{
    float: left;
    width: 55%;
    height: 100%;
    background-color:#262626;
    color: white;
}

.textBottom{
    position: absolute;
    bottom: 50px;
    text-align: left;
    margin: 10px;       

}

.hero .text1, .hero .text2, .hero .text3{
    font-size: 50px;
}

.splitText{
    margin-top: 120px;
}

.teamMembers{
    font-size: smaller;
    color: rgb(211, 211, 211);
}

.tradersLogo {
   margin-top: 120px;
   height: 30%;
  padding-left: 250px;
}

#tradersHoover{
    text-decoration: none;
    color: white;
}

#tradersHoover:hover{
    color: #FF002E;
}
